* {
    padding: 0;
    margin: 0;
}

body {
   background: url(./Ð\ 1.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #1E2538;
   font-family: 'Roboto', sans-serif; 
}

header {
    padding: 10px;
}

.container {
    max-width: 1480px;
    margin: 0 auto;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > a {
    color: white;
    text-decoration: none;
    margin: 0px 10px;
}

.btn {
    display: flex;
    align-items: center;
}

.search {
    background-color: white;
    width: 55px;
    height: 52px;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button > button {
    width: 138px;
    height: 53px;
    background-color: #3657CB;
    border: 0px;
    border-radius: 12px;
    color: white;
    box-shadow: 0px 0px 7px #3657CB;
}

.btn > div {
    margin: 0px 10px;
}

.categories {
    margin: 60px 0px;
}

.title {
    font-size: 40px;
    color: white;
}

.line {
    width: 51px;
    height: 2px;
    background: white;
}

.categories__link {
    opacity: 0.35;
    transition: .3s;
}

.categories__link:hover {
    opacity: 1;
}

.card {
    width: 339px;
    height: 520px;
    margin: 20px 9px;
}

.image {
    position: relative;
    width: 339px;
    height: 482px;
}

.film__rate {
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
    background-color: #89CB36;
    padding: 5px;
    border-radius: 4px;
}

.film__inner {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.film__name {
    color: white;
    margin: 5px 0px;
}

.film__categories {
    color: #F2F60F;
}